.App {
	text-align: center;
}

.products {
  width: 50%;
  list-style: none;
  text-align: center;
}

.productModal {
  width: 30%;
  margin: 10%;
  text-align: center;
  float: right;
  padding: 10px;
  background-color: #e5d6cc;
  list-style: none;
}
.cartModal {
  width: 45%;
  margin: 100px 40px 40px 0px;
  float: right;
  padding: 10px;
  background-color: #e5d6cc;
  list-style: none;
  border: 1px;
}
  .cartlenght {
    width: 50%;
    float: right;
    background:sandybrown;
    text-align: center;
    margin: 2px;
  }
  .cart-item {
    width: 45%;
    margin: 2px;
    background: #00ff89;
    display: flex;
    justify-content: space-around;
  align-items: center;
  }

  .cate-listproduct {
    width: 70%;
    float: right;
    background:sandybrown;
  }
  .category {
    display: flex;
  justify-content: space-around;
  align-items: center;
    background-color:darkorange;
    list-style: none;
    text-align: center;
    display: flex;
  }

  .login {
    padding: 40px;
    width: 400px;
    display: flex;
  }
  .buttonLogin {
    width: 400px;
    text-align: center;
    display: flex;
    /* list-style: none; */
    align-items: center;
  }