* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
.product-list{
  width: 50%;
  float: left;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 24px;
  background:rgb(250, 163, 163);
}
.product {
  text-align: center;
  height: 100%;
  padding: 43px;
  background:rgb(250, 163, 163);
  list-style: none;
  border: 1px solid rgba(0,0,0,0.1);
}
.product-detail{
  width: calc(100% - 500px);
  float: right;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 24px;
  background:rgb(128, 202, 144);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: darkgray;
  list-style: none;
  }
  